<% include ./partials/head %>
<% include ./partials/header %>
<h1 class='ui header'>Individual Lights</h1>

<button class='ui blue labeled icon button' id='add-light-button'>
  <i class='plus square outline icon'></i>
  <label>Add new light</label>
</button>

<br>
<br>

<div class='ui stackable grid'>
  <!--"All Lights" Switch-->
	<div class='column'> 
    <!--List of lights to toggle-->
    <!-- Populate the lights -->
    <% lights.forEach( function(light, i) { %>
      <%= light %>
      <div class='inline fields'>
        <div class='field'>
          <button class='ui red mini icon button' id='delete-button' name='<%= light._id %>'>
            <i class="x icon"></i>
          </button>
        </div>

        <div class='field'>
          <div class='ui toggle checkbox' name='<%= light._id %>'>
            <!-- Automatically check the checkbox if it's on in the database -->
            <input type='checkbox' <%= light.lightIsOn ? 'checked' : '' %>>
            <label><%= light.name %></label>
          </div>
        </div>
      </div>
    <% }) %>
	</div>
</div>

<!-- Popup for adding new lights -->
<div class='ui modal'>
  <div class='header'>Add New Light</div>

  <div class='content'>
    <form class='ui form' id='add-light-form' action='/setup-lights' method='post'>
      <div class='required field'>
        <label>Light Name</label>
        <input type='text' name='lightName'>
      </div>
      <div class='field'>
        <div class='ui checkbox'>
          <input type='checkbox' name='lightIsOn'>
          <label>Light On</label>
        </div>
      </div>
      <div class='required field'>
        <label>Hub IP</label>
        <input type='text' name='hubIP'>
      </div>
      <div class='required field'>
        <label>Light ID</label>
        <input type='text' name='lightID'>
      </div>
    </form>
  </div>

  <div class='actions'>
    <button class='ui button' type='submit' form='add-light-form'>Add Light</button>
    <div class='ui red deny button'>Cancel</div>
  </div>
</div>


<script type="text/javascript" src='/js/individuals.js'></script>
<%include ./partials/foot %>
